# Ignore docs files
_site
.gitignore
tmp.md

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.idea
public/doc

# Folders to ignore
_ignore/
_drafts/
_ignore/*
_drafts/*
